.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 84.6vh;
}

.input {
    max-width: 350px;
    height: 44px;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    margin-bottom: 25px;
  }
  
  .label {
    display: flex;
    justify-content: flex-;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
}

.btnRegistrarse{
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btnRegistrarse:hover{
    color: #EEEEEE;
    background-color: #05060f;
    box-shadow: 0px 15px 20px #05060f74;
    transform: translateY(-7px);
}

.btnRegistrarse:active{
    transform: translateY(-1px);
}



@media (min-width: 768px) {
    .input{
        width: 350px;
    }
}